*.pth filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
Track filter=lfs diff=lfs merge=lfs -text
TorchScript filter=lfs diff=lfs merge=lfs -text
models filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
